#u917-3
{
	font-family: open-sans-n7, sans-serif;
}

#u935-4
{
	font-family: open-sans-n7, sans-serif;
}

#u910-4
{
	font-family: open-sans-n7, sans-serif;
}

#u903-4
{
	font-family: open-sans-n7, sans-serif;
}

#u896-4
{
	font-family: open-sans-n7, sans-serif;
}

#u887,#u1020,#u2183,#u970
{
	font-family: open-sans-n7, sans-serif;
}

#u2185,#u2188,#u2190,#u2300
{
	font-family: open-sans-n4, sans-serif;
}

