#u2629-3
{
	font-family: open-sans-n7, sans-serif;
}

#u2618-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2611-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2600-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2624-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2651,#u2657,#u2675,#u2649
{
	font-family: open-sans-n7, sans-serif;
}

#u2669,#u2667,#u2647,#u2681
{
	font-family: open-sans-n4, sans-serif;
}

