@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #FFFFFF url("../../images/bckgr.png") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	border-style: none;
	border-color: #000000;
	padding-top: 71px;
	padding-right: 380px;
	padding-bottom: 499px;
	background: transparent url("../../images/bckg.png") no-repeat center center;
}

#page .verticalspacer
{
	clear: both;
}

